# Build output
/dist/
/coverage/

# Node modules and dependency files
/node_modules/
/yarn.lock

# Environment files
/.env
/.env.local

# Editor/OS
.DS_Store

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
